.about {
    padding: 1.5em;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    .skill {
        margin-bottom: 1.5em;

        .progress-bar {
            background-color: #ddd;
            width: 100%;
            height: 15px;
            border-radius: 5px;
            margin-top: 5px;
            position: relative;
        
            span {
                display: block;
                background-color: #ae2012;
                height: 100%;
                border-radius: 5px;
                width: 0;
                opacity: 0;
                view-timeline-name: --skill;
                view-timeline-axis: block;
                animation-timeline: --skill;
                animation-name: grow;        
                animation-range: entry 25% cover 20%;
                animation-fill-mode: forwards;
            }
        }
    
        p {
            font-size: 1rem;
        }
    }
}

@keyframes grow {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: var(--progress-width);
        opacity: 1;
    }
}


@media screen and (width > 768px) {
    .about {
        padding: 2em;

        .skill .progress-bar {
            height: 20px;
        }    
    }    
}