.contact {
    padding: 2em;
    background-color: #fff;
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    form {
        display: flex;
        flex-direction: column;
    
        label {
            margin-top: 10px;
            font-size: 1rem;
        }
    
        input, textarea {
            padding: 10px;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 1rem;
        }
    
        textarea {
            resize: none;    
        }
    
        .form-buttons {
            margin-top: 15px;
            display: flex;
            gap: 1em;
    
            button {
                padding: 10px 15px;
                border: none;
                background-color: var(--secondary-color);
                color: var(--text-white);
                font-size: 1rem;
                border-radius: 5px;
                cursor: pointer;
                transition: background-color 0.3s ease;
            }
    
            button:hover {
                background-color: var(--main-color);
            }
        }
    }
}

@media (max-width: 768px) {  
    .contact {
        padding: 1.5em;
    }
}