:root {
    font-size: 16px;
    --main-color: #ee9b00;
    --secondary-color: #ae2012;
    --text-white: #fff;
    --text-black: #000;
}

@font-face {
    font-family: 'Inter';
    src: url('./assets/fonts/inter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
   }

body {
    font-family: 'Inter', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    line-height: 1.6;
}

h2 {
    font-size: 2rem;
    margin-bottom: 1em;
    color: #444;
}

p {
    font-size: 1.2rem;
    color: #555;
}

@media (max-width: 768px) {  
    h2 {
        font-size: 1.8rem;
    }

 }