.video, .projects {
    padding: 1.5em;
    background-color: var(--text-white);
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1200px;
}

.video-widget {
    position: relative;
    width: 100%;    
    height: 50vh;
    overflow: hidden;
}

.video-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

.projects h1 {
    color: var(--secondary-color);
}

.projects-container {
    display: grid;    
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 20px;
    padding: 20px 0;

    .project-card {
        margin-top: 20px;
        border-radius: 5px;
        font-size: 0.9rem;
        list-style: none;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);        

        figure {
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            height: 100%;
        }

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-height: 200px;
            view-timeline-name: --image;
            view-timeline-axis: blcok;
            animation-timeline: --image;
            animation-name: show;            
            animation-fill-mode: both;
            animation-range: entry 25% cover 50%;
        }

        .project-info {
            padding: 0 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;

            .project-link {                
                padding: 10px 15px;
                margin-bottom: 15px;
                background:var(--main-color);
                color: var(--text-white);
                text-decoration: none;
                border-radius: 5px;
                margin-top: auto;
                align-self: center;
            }
        }        
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes show {
    from {
        opacity: 25%;
        scale: 10%
    }
    to {
        opacity: 100%;
        scale: 100%;
    }
}


@media screen and (width > 768px) {     
    .video, .projects {
        padding: 2em;
    }

    .video-widget {
        height: 70vh;
    }

    .projects-container {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

        .project-card {
            font-size: 1rem;

            .project-link:hover {
                color: var(--secondary-color);
                transition: .5s;
            }
        }        
        
    }
}