.video, .projects {
    padding: 2em;
    background-color: var(--text-white);
    margin: 20px auto;
    border-radius: 8px;
    max-width: 1200px;
}

.projects h1 {
    color: var(--secondary-color);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;

    .project-card {
        margin-top: 20px;
        border-radius: 5px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        display: flex;
        flex-direction: column;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
            max-height: 200px;
        }

        .project-info {
            padding: 0 5px;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;

            .project-link {
                display: inline-block;
                padding: 10px 15px;
                margin-bottom: 15px;
                background:var(--main-color);
                color: var(--text-white);
                text-decoration: none;
                border-radius: 5px;
                margin-top: auto;
                align-self: center;
            }

            .project-link:hover {
                color: var(--secondary-color);
                transition: .5s;
            }
            
        }
        
    }
}

.video-widget {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.video-overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


@media (max-width: 768px) {     
    .video, .projects {
        padding: 1.5em;
    }

    .video-widget {
        height: 50vh;
    }

    .projects-container {
        grid-template-columns: 1fr 1fr;

        .project-card {
            font-size: 0.9rem;

            p {
                font-size: inherit;
            }
        }        
    }
}